/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.container .about-page {
    display: flex;
    /*nothing here yet! */
}

.header {
    display: felx;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

nav.container {
    
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 40px;
    align-items: flex-end;
    padding-right: 25px;
}

nav.container a {
    color: black;
    text-decoration: none;
}

nav.container a:hover {
    color: darkslategray;
    text-decoration: underline;
}

.top-image {
    display: flex;
    justify-content: center;
    margin: 20px;
}
.top-image img {
    min-width: 800px;
    height: 153px;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box0 {
    background: teal;
}

.box1 {
    background: gold;
}

.box2 {
    background: cadetblue;
}

.box3 {
    background: coral;
}

.box4 {
    background: crimson;
}

.box5 {
    background: forestgreen;
}

.box6 {
    background: darkorchid;
}

.box7 {
    background: hotpink;
}

.box8 {
    background: indigo;
}

.box9 {
    background: dodgerblue;
}

.topCards {
    margin-top: 15px;
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
    border-top: 1px dashed black;
}

.bottomCards {
    margin-top: 15px;
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
}

.product {
    display: flex;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 5px;
    margin: 0 5px;
    margin-top: 10px;
    border-top: 1px dashed black;
}

.product img {
    width: 280px;
    margin-right: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    border-bottom: 1px dashed black;
    width: 48%;
    margin: 25px 15px;
}

.card img {
    padding-bottom: 15px;
}

.card button {
    margin: 15px 0;
}

form {
    border-top: 1px dashed black;
    border-bottom: 1px dashed black;
    margin-top: 20px;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
}

.form-row {
    display: flex;
    justify-content: space-between;
    height: 40px;
}

field {
    width: 49%;
    display: flex;
    align-items: center;
}

field input {
    
    border-radius: 5px;
    padding: 2px;
    width: 59%;
}

field input:focus {
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2);
}

field label {
    width: 40%;
}

.form-row.messageRow {
    margin-top: 10px;
    height: 80px;
}

.form-row.messageRow .submitButton {
    width: 49%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

#messageField {
    display: flex;
    height: 80px;
    align-items: stretch;
}

field#messageField textarea {
    border-radius: 5px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    width: 59%;
    padding: 5px;
    word-wrap: normal;
    resize: none;
    height: 80px;
}

field#messageField textarea:focus {
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2);
}

button {
    width: 32%;
    height: 32px;
    background: white;
    border: 1.4px solid black;
    border-radius: 8px;
}

.product button {
    margin-left: 20px;
}

button:hover {
    background: black;
    color: white;
}

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

.text-container.padded {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    padding: 20px;
    margin-bottom: 15px;
}

.text-container.bordered {
    margin: 10px;
    border-top: 1px dashed black;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}